body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1;
  }
  
  textarea {
    color: #1c1b1b;
    border-left: 1px solid rgb(247, 246, 246);
    padding: 15px;
  }
  
  .planofday {
    text-align: center;
    color: rgb(14, 14, 14);
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .time-section {
    text-align: center;
    border-radius: 15px;
    
  }

  .row {
    white-space: pre-wrap;
    height: 120px;
    border-top: 2px solid white;;
  }
  
  .hour {
    background-color: #f9f6f6;
    color: rgb(7, 169, 223);
    border-top: 3px  #000000;
  }
  .past {
    background-color: #a221b9;
    color: rgb(237, 233, 233);
  }
  
  .present {
    background-color: #f1d70e5b;
    color: rgb(246, 245, 245);
  }
  
  .future {
    background-color: #160acb;
    color: rgb(238, 238, 243);
  }
  
  .savePress {
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #f4f0ef;
    color: rgb(7, 169, 223);
  }
  
  
  